<html dir='ltr' lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body
    style='font-family:sans-serif;margin:auto;padding:20px;max-width:550px;margin-top:40px;border-radius:10px;border:1px solid #eaeaea;padding-right:40px;padding-left:40px;height: fit-content;'
  >
    <div style='font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 30px; background-color: #ffffff; color: #333333; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);'>

    {{> header }} <!-- Header Partial -->

    {{! CONTENT Start }}
    {{{BODY}}}
    {{! CONTENT End}}

    {{> footer }} <!-- Footer Partial -->

    </div>
  </body>
</html>