<footer>
  <table
    style='
      margin-top: 20px;
      width: 100%;
      border-spacing: 0;
      text-align: center;
      background-color: #f2f4f7;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    '
  >
    <tr>
      <td style='padding: 12px;'>
        <a
          href='https://pbs.twimg.com/media/GWKuSgQXoAAJODl?format=jpg&name=large'
          style='
            color: #2c2124;
            text-decoration: none;
            font-weight: 600;
            font-size: 15px;
            transition: color 0.3s ease;
          '
          onmouseover="this.style.color='#1d72b8';"
          onmouseout="this.style.color='#2c2124';"
        >
          Help Center
        </a>
      </td>
      <td style='padding: 12px;'>
        <a
          href='https://pbs.twimg.com/media/GWKuSgQXoAAJODl?format=jpg&name=large'
          style='
            color: #2c2124;
            text-decoration: none;
            font-weight: 600;
            font-size: 15px;
            transition: color 0.3s ease;
          '
          onmouseover="this.style.color='#1d72b8';"
          onmouseout="this.style.color='#2c2124';"
        >
          Privacy Policy
        </a>
      </td>
      <td style='padding: 12px;'>
        <a
          href='https://pbs.twimg.com/media/GWKuSgQXoAAJODl?format=jpg&name=large'
          style='
            color: #2c2124;
            text-decoration: none;
            font-weight: 600;
            font-size: 15px;
            transition: color 0.3s ease;
          '
          onmouseover="this.style.color='#1d72b8';"
          onmouseout="this.style.color='#2c2124';"
        >
          About Us
        </a>
      </td>
      <td style='padding: 12px;'>
        <a
          href='https://pbs.twimg.com/media/GWKuSgQXoAAJODl?format=jpg&name=large'
          style='
            color: #2c2124;
            text-decoration: none;
            font-weight: 600;
            font-size: 15px;
            transition: color 0.3s ease;
          '
          onmouseover="this.style.color='#1d72b8';"
          onmouseout="this.style.color='#2c2124';"
        >
          Contact Us
        </a>
      </td>
      <td style='padding: 12px;'>
        <a
          href='https://pbs.twimg.com/media/GWKuSgQXoAAJODl?format=jpg&name=large'
          style='
            color: #2c2124;
            text-decoration: none;
            font-weight: 600;
            font-size: 15px;
            transition: color 0.3s ease;
          '
          onmouseover="this.style.color='#1d72b8';"
          onmouseout="this.style.color='#2c2124';"
        >
          FAQs
        </a>
      </td>
    </tr>
  </table>
</footer>