<header
  style='
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 20px;
      '
>
  <div class='logo' style='display: flex; align-items: center;'>
    <img src='public/has-logo.svg' alt='Logo' style='width: 90px;' />
  </div>
</header>